<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.tliaswebmanagement.mapper.EmpExprMapper">
    <insert id="insetBatch">
        /*批量保存员工的工作经历信息*/
        insert  into emp_expr(emp_id,begin,end,company,job)
        values
        /*separator是添加一个,因为是多次去添加员工经验，每个经验都要分隔开，但是你编写语句的时候又不能直接写，上去所以要用它*/
        /*item是集合遍历出来的每个元素*/

        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId},#{expr.begin},#{expr.end},#{expr.company},#{expr.job})
        </foreach>

    </insert>

    <!--根据id删除员工的工作经历-->
    <delete id="deleteByEmpIds">
        delete from emp_expr where emp_id in
                             <foreach collection="empIds" separator="," item="empId" open="(" close=")">
                                 #{empId}
                             </foreach>
    </delete>
</mapper>
