<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.tliaswebmanagement.mapper.StudentMapper">
    <update id="score">
        UPDATE student SET
        violation_score = CASE
        WHEN violation_score &lt; #{score} THEN 0
        ELSE violation_score - #{score}
        END
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM student WHERE id in
                            <foreach collection="ids" separator="," item="id" open="(" close=")">
                                    #{id}
                            </foreach>
    </delete>

    <select id="list" resultType="org.example.tliaswebmanagement.pojo.Student">
        SELECT e.*,d.name as clazzName from student e left join clazz d on e.clazz_id = d.id
        <where>
        <if test="name != null and name != ''">
            e.name like concat('%',#{name},'%')
        </if>
        <if test="clazzId != null">
            and e.clazz_id like concat('%',#{clazzId},'%')
        </if>
        <if test="degree != null">
            and e.degree like concat('%',#{degree},'%')
        </if>
        </where>
        order by e.update_time desc
    </select>

    <select id="conuntStudentDegreeDate" resultType="java.util.Map">
    SELECT
                (CASE
                WHEN s.degree = '1' THEN "初中"
                WHEN s.degree = '2' THEN "高中"
                WHEN s.degree = '3' THEN "大专"
                WHEN s.degree = '4' THEN "本科"
                WHEN s.degree = '5' THEN "硕士"
                WHEN s.degree = '6' THEN "博士"
                END
                )AS name,
        COUNT(*) AS value FROM student s GROUP BY s.degree

    </select>

    <select id="getStudentCountData" resultType="java.util.Map">
        SELECT c.name pos, count(*) num
        FROM student s LEFT JOIN clazz c ON s.clazz_id = c.id GROUP BY c.name ORDER BY num
    </select>
</mapper>