<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.tliaswebmanagement.mapper.StudentMapper">

    <select id="list" resultType="org.example.tliaswebmanagement.pojo.Student">
        SELECT e.*,d.name as clazzName from student e left join clazz d on e.clazz_id = d.id
        <where>
        <if test="name != null and name != ' '">
            e.name like concat('%',#{name},'%')
        </if>
        <if test="clazzId != null and clazzId != ' '">
            and e.clazz_id like concat('%',#{clazzId},'%')
        </if>
        <if test="degree != null and degree != ' '">
            and e.degree like concat('%',#{degree},'%')
        </if>
        </where>
        order by e.update_time desc
    </select>
</mapper>